.tablet {
    background-image: url('res://play_background');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Chalkduster";
}

.tablet .panel_question {
    width: 80%;
    height: 25%;
    margin-top: 15%;
    margin-left: 10%;
}

.tablet .question_text {
    color: black;
    font-size: 64;
    text-align: center;
    width: 100%;
    margin-top: 20%;
}

.tablet .panel_answer {
    width: 40%;
    height: 35%;
    margin-top: 10%;
}

.tablet .answer_0,
.tablet .answer_1,
.tablet .answer_2,
.tablet .answer_3 {
    font-size: 38;
    color: black;
    width: 50%;
    text-align: center;
    margin-top: 25%;
}