<GridLayout #gridLayout class="page page-content">


  <StackLayout>

    <AbsoluteLayout>
      <Image #image class="panel_question" src="res://panel"></Image>
      <Label #label class="question_text" text="0 328 32 392 3" textWrap="true"></Label>

    </AbsoluteLayout>



    <GridLayout columns="*,*" rows="* , *">
      <Image class="answer_img_0" col="0" row="0" class="panel_answer" src="res://panel"></Image>
      <Label class="answer_0" col="0" row="0" text="A" textWrap="true"></Label>

      <Image class="answer_img_1" col="1" row="0" class="panel_answer" src="res://panel"></Image>
      <Label class="answer_1" col="1" row="0" text="A" textWrap="true"></Label>

      <Image class="answer_img_2" col="0" row="1" class="panel_answer" src="res://panel"></Image>
      <Label class="answer_2" col="0" row="1" text="A" textWrap="true"></Label>

      <Image class="answer_img_3" col="1" row="1" class="panel_answer" src="res://panel"></Image>
      <Label class="answer_3" col="1" row="1" text="A" textWrap="true"></Label>

    </GridLayout>
  </StackLayout>



</GridLayout>