.tablet {
    background-image: url('res://cartoon_background');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tablet .question_number {
    color: white;
    font-size: 64;
    background-color: black;
}

.tablet .panel_question {
    width: 92%;
    height: 25%;
    margin-top: 15%;
    margin-left: 4%;
}

.tablet .question_text {
    color: black;
    font-size: 58;
    text-align: center;
    width: 100%;
    margin-top: 25%;
    font-family: "PermanentMarker-Regular";
    color: rgb(44, 121, 172);
}

.tablet .panel_answer {
    height: 40%;
    margin-top: 60%;
}

.animate_bigger {
    animation-name: answer_animate_bigger;
    animation-duration: 1s;
}

@keyframes answer_animate_bigger {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.animate_smaller {
    animation-name: answer_animate_smaller;
    animation-duration: 1s;
}

@keyframes answer_animate_smaller {
    0% {
        transform: scale(1);
        transform: translateY(0);
    }
    50% {
        transform: scale(0.1);
        transform: translateY(50%);
    }
    100% {
        transform: scale(1);
        transform: translateY(0);
    }
}

.tablet .answer_label {
    font-size: 42;
    font-weight: bold;
    color: black;
    width: 50%;
    text-align: center;
    margin-top: 90%;
    font-family: "PPETRIAL";
}