<GridLayout #gridLayout class="page page-content">


  <StackLayout>

    <AbsoluteLayout>
      <Image #questionImg class="panel_question" src="res://panel"></Image>
      <Label #label class="question_text" text="0 328 32 392 3" textWrap="true"></Label>

    </AbsoluteLayout>



    <GridLayout columns="*,*" rows="* , *">
      <Image col="0" row="0" class="panel_answer" src="res://panel"></Image>
      <Image col="1" row="0" class="panel_answer" src="res://panel"></Image>
      <Image col="0" row="1" class="panel_answer" src="res://panel"></Image>
      <Image col="1" row="1" class="panel_answer" src="res://panel"></Image>
    </GridLayout>
  </StackLayout>



</GridLayout>