.page {
    width: 100%;
    height: 100%;
    background-image: url("res://score_background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.score {
    font-size: 32;
    font-family: "Chalkduster";
    color: white; // width: 50%;
    // margin-left: 25%;
    // margin-top: 35%;
}

.container_btn {
    margin-top: 60%;
}

.mode {
    width: 40%;
    height: 75%;
}

.mode_first {
    margin-left: 25%;
}