<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf015;"></Label>


    <StackLayout>
        <Label class="h1 title text-center" text="Welcome to IQ Test" textWrap="true"></Label>

        <StackLayout class="guide">
            <Label class="text-primary" text="Each test consists of 15 questions, gradually increasing in difficulty."></Label>
            <Label class="text-muted" text="In each question, the subject is asked to identify the missing element that completes a pattern."
                textWrap="true"></Label>
            <Label class="text-danger" text="Choose the correct answer to go to the next question." textWrap="true"></Label>
            <Label class="body bg-primary" text="This test is supposed to assess your intellectual potentiel, not your performance under stress. Therefore, there is no time limit but the Estimated time is 4 minutes. "
                textWrap="true"></Label>
            <Label text="reda" textWrap="true"></Label>


        </StackLayout>

    </StackLayout>
</GridLayout>